@import "typo.css";
* {
}
html {
}
body {
    color: #000000;
    font-family: Arial;
    font-size: 0.75em;
}
a:hover {
    text-decoration: underline;
}
.clear {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
#header {
    height: 68px;
    width: auto;
}
#body {
}
#footer {
    border-top: 3px solid #660033;
    height: 80px;
    line-height: 23px;
    text-align: center;
    vertical-align: middle;
}
#leftcol {
    float: left;
    width: 740px;
}
#rightcol {
    float: right;
    width: 220px;
}
.logo {
    float: left;
    margin-right: 50px;
}
.ask_question {
    background: none repeat scroll 0 0 #660033;
    border: 1px solid #660033;
    float: right;
    height: 29px;
    line-height: 29px;
    text-align: center;
}
.ask_question a {
    color: #FFFFFF;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}
.ask_question:hover {
    background: none repeat scroll 0 0 #FFCC66;
}
.mainmenu {
}
.mainmenu ul {
}
.mainmenu ul li {
    background: none repeat scroll 0 0 #660033;
    border: 1px solid #660033;
    float: left;
    height: 29px;
    line-height: 29px;
    list-style-type: none;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    vertical-align: middle;
}
.mainmenu ul li a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
.mainmenu ul li:hover {
    background: #FFCC66;
}

.mainmenu ul li.selected {
    background: #FFCC66;
}

.mainmenu ul li a:hover {
}
.tag {
    background: #FFCC66;
    border-color: #FFFFFF #660033 #660033 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #660033;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.container {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.container_body {
    margin: 15px;
}
.blue {
    background: #FFCCCC;
    border: 1px solid #660033;
    padding: 1px;
}
.question_list {
    width: auto;
}
.question_item {
    border-bottom: 1px dotted #FFCC66;
    height: 100px;
    width: 730px;
    padding-top: 10px;
}
.q_votes {
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 45px;
}
.q_status {
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 45px;
}
.unanswered {
    color: #CC0000;
}
.answered {
    color: #009900;
}
.q_views {
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 45px;
}
.q_content {
    float: right;
    width: 580px;
    margin-right: 15px;
}
.q_content h2 a {
    color: #660033;
    margin-left: 5px;
}
.q_counter {
    font-size: 2em;
    font-weight: bold;
}
.q_tags {
}
.q_info {
    font-size: 1.1em;
    text-align: right;
}
.time {
    color: #333333;
    font-weight: bold;
}
.userinfo {
    color: #660033;
    text-decoration: none;
}
.reputation {
    color: #CC0000;
    font-size: 1.5em;
    font-weight: bold;
}

/* ask form */
.ask_form {
    
}

.ask_title {
    font-size: 1.24em;
    font-weight: bold;
    margin-right: 20px;
}

.ask_form input.textbox {
    border: 1px solid #660033;
    padding: 5px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    width: 650px;   
}

.ask_editor {
    width: 705px;
    height: 250px;
}

.ask_submit {
    padding: 10px;
    border: 1px solid #660033;
    background: #FFCCCC;
    font-weight: bold;
    font-size: 1.24em;
}

/* Question details */
.post_title {
    border-bottom: 1px solid #000000;
    font-size: 1.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.post_container {
    margin-bottom: 20px;
    clear: both;
}

.post_left {
    width: 40px;
    text-align: center;
    float: left;
    margin-top: 20px;
}

.post_left a img {
    border: none;
}

.vote_count {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #333333;
}

.star {
}

.star img:hover{
}

.post_right {
    float: right;
    width: 680px;
    margin-top: 20px;
}

.post_body {
    line-height: 20px;
    font-size: 1.25em;
    margin-bottom: 20px;
    width: 680px;
}

.post_tags {
    margin-bottom: 20px;
}

.post_actions {
    
}

.post_actions a {
    text-decoration: none;
    color: #CC0000;
}

.post_info {
    text-align: right;
}

.post_info a {
    text-decoration: none; 
    color: #009900;
}

.post_comments {
}

.post_answer_title {
    padding-top: 30px;
    margin-bottom: 10px;
    font-size: 2.25em;
    font-weight: bold;
    border-bottom: 1px solid #000000;
    float:left;
    width: 750px;
}

.your_answer {
    float: left;
    width: 750px;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #009900;
}

.error {
    color: #CC0000 !important; 
    font-style: italic;
}

.post_clear {
    clear: left; 
}

.hr {
    width: 750px;
    clear: left;
    border:none;
    border-bottom: 1px solid #cccccc;
    margin-top: 15px;
    height: 20px;
}